.miacordion{
    background-color: $color2;
    padding: 20px;
    border: solid black 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
}