img{
    width: 140px;
}
.navstyle{
    
    border: map-get($diseno, bordes ) ;
    background-color: $color2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: $fsize*2 ;
 text-decoration-line: underline;
}

.logo {
    transition: transform 0.2s ease-in-out;
  }
  
  .logo:hover {
    transform: rotate(360deg);
  }
  